<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<h1 class="text-danger text-center">About Us</h1>
    <a href="{% url 'home' %}" class="btn btn-success">Homepage</a>
    <a href="{% url 'contact' %}" class="btn btn-outline-warning">Contact Us</a>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aperiam deserunt doloremque illo itaque magnam nostrum nulla, porro quia quo recusandae, sed velit veritatis? Dolor iste non repudiandae sapiente tenetur!</span><span>Accusamus, aperiam aspernatur atque blanditiis consectetur debitis eaque earum error inventore itaque laborum nam nemo possimus praesentium quia repellat similique sint suscipit tempora voluptates? Deserunt eius in molestiae nam optio!</span><span>Ab accusamus corporis culpa debitis error fugiat, hic iste minima nam neque nostrum odio, officia quisquam, suscipit tempore veritatis voluptates voluptatum. Ad adipisci aliquid esse nihil reprehenderit sint voluptate voluptates.</span></p>
<h2>Additional information</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores aspernatur autem consequuntur esse facilis in, iusto optio perferendis qui quia sunt vel vero. Autem consectetur corporis dolorum enim similique?</span><span>Accusantium dignissimos dolore est eveniet maiores modi praesentium ullam. Atque consequuntur dignissimos esse ex in libero maiores repudiandae sapiente soluta voluptas. Eligendi, quas voluptatem. Commodi cum delectus eos magni soluta!</span><span>Ad alias beatae, delectus dolore earum excepturi hic laboriosam minus qui sequi similique sint sit veritatis? Adipisci enim, eos illo inventore minima minus nobis nostrum officia optio sunt, temporibus tenetur!</span><span>Accusantium ad alias asperiores atque autem cupiditate est fugit impedit ipsum minus neque nisi nobis nostrum praesentium quae qui quibusdam recusandae, reiciendis sint soluta tempore totam ullam vero vitae, voluptate!</span></p>
</body>
</html>