<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact page</title>
</head>
<body>
<h1>Contact us</h1>
    <a href="{% url 'about' %}">About Us</a>
    <a href="{% url 'home' %}">Homepage</a>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dignissimos doloribus ipsam iusto necessitatibus officiis quas rem tempore unde vel. Doloremque, incidunt, voluptatem. Assumenda ea enim ipsam reiciendis reprehenderit, rerum.</span><span>Ab animi consequuntur distinctio doloribus et eum excepturi facilis id illo itaque iure laborum minima, minus necessitatibus, nisi perspiciatis possimus praesentium quam quisquam rem repudiandae saepe sed similique voluptate, voluptatum!</span><span>In modi, omnis provident quasi quisquam ratione reiciendis sunt suscipit! Accusamus accusantium aliquid cupiditate dolores ducimus explicabo facilis in ipsa, laudantium nostrum odio odit officiis provident sequi vel voluptate voluptatum?</span></p>
</body>
</html>