<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>

{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<style>
    h1{
        text-align: center;
        background-color: black;
        color: white;
        font-size: 80px;
        font-weight: bolder;
        text-shadow: 12px 8px 12px yellow;
    }
</style>

<body>

<h1>MediSync</h1>
    <a href="{% url 'about' %}">About Us</a>
    <a href="{% url 'contact' %}">Contact Us</a>


<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut, deleniti dignissimos eius excepturi exercitationem inventore labore laborum nulla quas quibusdam tempore tenetur, vel! Aspernatur ducimus laborum maxime saepe sit.</span><span>A accusantium architecto blanditiis consequatur et in natus nemo perspiciatis quisquam, sunt suscipit, unde, vero. Autem beatae consectetur culpa debitis est, excepturi, facere facilis iusto laboriosam magni placeat quasi, recusandae.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at dolorem error excepturi id, itaque maiores nobis numquam provident voluptate! Consectetur et facere itaque laborum molestias omnis, quis totam voluptatem.</span><span>Accusamus, autem commodi consectetur dolore ea eaque harum illum, ipsam libero maxime nam odio sapiente tempora tempore ut veniam, voluptatem. Ad consequuntur dicta error illo inventore numquam quasi quod, saepe!</span><span>Aliquid at autem corporis debitis dicta dolore enim eos explicabo incidunt ipsa magnam minima obcaecati possimus quia quisquam reprehenderit sapiente, vel vero voluptas voluptatem? Debitis eius facilis nulla obcaecati rem!</span></p>

<img src="{% static 'static/assets/ai-generated-8607702.jpg' %}" alt="">
<img src="{% static 'static/assets/building-2654823.jpg' %}" alt="">
<img src="{% static 'static/assets/hos.jpg' %}" alt="">
<img src="{% static 'static/assets/hospital-1802679.jpg' %}" alt="">
<img src="{% static 'static/assets/nurse.png' %}" alt="">
<img src="{% static 'static/assets/operation-1807543.jpg' %}" alt="">

</body>
</html>